<div class="container" style="margin: 30px ;">
  <div class="row">
    <div class=col-md-12>
      <% data.each do |key,value| %>
        <p>
          <%= key %>
          <%= value %>
        </p>
      <% end %>
    </div>
  </div>
</div>